<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mylearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".appconfig.dagger.MyLearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ads.GoogleAdsActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6520574635332836~5829106013" />

        <activity android:name=".daggersample.DaggerSampleActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".pagination.PaginationActivity" />
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />
        <activity android:name=".notificationgroup.NotificationGroupingActivity" />

        <service
            android:name=".foregroundservice.ForegroundService"
            android:enabled="true" />
        <service
            android:name=".backgroundservice.BackgroundService"
            android:enabled="true" />
        <service
            android:name=".jobscheduler.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".backgroundservice.BackgroundBroadcastReceiver" />

        <activity android:name=".backgroundservice.BackgroundServiceActivity" />
        <activity android:name=".foregroundservice.ForegroundServiceActivity" />
        <activity android:name=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>